/* Projects.css */

/* General Section Styling */
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f6e8; /* Light gray background */
    padding-top: 4rem;
    min-height: 100vh; /* Full height of the viewport */
    width: 100%;

    background-image: url("../assets/backgroundimg7.jpg"); /* <-- your photo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  
  /* Title Styling */
  .projects-title {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    font-family: 'Megrim', sans-serif;
    margin-bottom: 2rem;
    margin-top: 10rem;
    color: #f9f6e8;
  }
  
  /* Grid Layout */
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 1rem 0;
  }
  
  /* Responsive Layout for Medium and Large Screens */
  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Project Card Styling */
  .project-card {
    background-color: #f9f6e8;

    padding: 1.5rem;
    /* border-radius: 12px; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #434837;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

  }


  
  /* Hover Effect */
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transform: scale(1.05)
  }
  
  /* Project Image */
  .project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border-radius: 8px; */
    border: 2px solid #f9f6e8;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

  }

  .project-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1;
  }
  
  /* Project Title */
  .project-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Alice', sans-serif;
    margin-top: 1rem;
    color: #434837;
    text-align: center
;
  }
  
  /* Project Description */
  .project-description {
    margin-top: 0.75rem;
    font-family: 'Alice', sans-serif;
    color: #434837;
    line-height: 1.6;
    text-align: center;

  }
  
  /* View Project Button */
  .project-link, .project-website {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 50%;
    background-color: #434837;
    color:#f9f6e8;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;

  }
  
  /* Button Hover Effect */
  .project-link:hover {
    background-color: #f9f6e8;
    transform: scale(1.05);

  }

  
  