/* Reset default margins and padding */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.header {
  background: transparent;
  position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
    width: 100%;
    margin-left: 150px; /* Match navbar width */

    z-index: 0;
  } 
  
  .overlay {
    background-color: rgba(28, 41, 32, 0.5);
      width: 100%;
      height: 100%; 
  }
  
  
  .header-logo {
    width: 250px;
    height:250px;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
    padding: 10px;


  }

  .header-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }