@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*Global Variables*/
:root {
    --primary-color: #656d53;
    --accent-color: #ede2d8;
    --font-family-special: 'Poiret One', serif;
    --font-family-heading: 'Alice', serif;
    --font-family-body: 'Poppins', sans-serif;
    --button-color: #e67e22;
  }
#root {
  width: 100%;
  min-height: 100vh;
}



body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
