@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f4f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*Global Variables*/
:root {
    /* Colors */
    --primary-color: #8FA99B;
    --text-color: #2F2F2F;
    --neutral-accent: #B8A89A;
    --accent-color: #99725F;
    --neutral-light: #f7f5f2;
    --button-color: #C9A25D;

    /* Font Families */
    /* --font-family-accent: 'Poiret One', serif; */
    --font-family-heading: 'Fraunces', serif;
    --font-family-body: 'Inter', sans-serif;
    
  }
#root {
  width: 100%;
  min-height: 100vh;
}



body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
